@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
body {
  background-color: #062379;
  width: 95%;
  height: 100vh;
  margin: auto;
}

h1 {
  color: white;
}

.total-cases {
  margin-top: 0px;
}

#page-title {
  font-size: 98px;
  font-family: "roboto", sans-serif;
}

.total-cases {
}
