@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;900&display=swap");

.covid-nav {
  padding-top: 1%;
  width: 80%;
  margin: auto;
}

#id-1 {
  font-family: "poppins";
  font-weight: bold;
  font-size: 50px;
}
#id-2 {
  font-size: 30px;
}

Nav {
  font-family: "poppins";
  font-weight: bold;
  font-size: 20px;
}
